{% extends 'root.html' %}
{% block content %}



<head>
    <link rel="stylesheet" type="text/css" href="/static/acceuil.css">
  </head>



<section class="hero section-container">
    <div class="hero-content">
        <h1>Agence de Recrutement en Développement Web</h1>
        <p>Trouvez les meilleurs talents en développement web pour votre entreprise.</p>
    </div>
</section>

<section class="services section-container">
    <h2>Nos Services</h2>
    <ul>
        <li>Recrutement de développeurs web qualifiés</li>
        <li>Évaluation approfondie des compétences techniques</li>
        <li>Conseils en gestion des talents</li>
        <li>Accompagnement dans le processus d'embauche</li>
        <li>Intégration et suivi des candidats</li>
    </ul>
</section>

<section class="testimonials section-container">
    <h2>Témoignages</h2>
    <div class="testimonial">
        <p>"Grâce à l'agence de recrutement en développement web, nous avons trouvé le développeur parfait pour notre équipe. Ils ont compris nos besoins spécifiques et nous ont présenté des candidats de haute qualité. Je les recommande vivement !"</p>
        <p class="author">- John Doe, CEO de XYZ Company</p>
    </div>
    <div class="testimonial">
        <p>"L'agence de recrutement a été très professionnelle et réactive tout au long du processus de recrutement. Ils ont facilité notre recherche de talents en développement web et nous ont aidés à trouver des candidats exceptionnels."</p>
        <p class="author">- Jane Smith, Directrice des Ressources Humaines</p>
    </div>
</section>
{% endblock %}
