.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 600px;
    
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1; 
    border: 1px solid #ccc; 
    padding: 20px; 
    width: fit-content; 
    max-width: 90%; 
    margin: 0 auto; 
    margin-bottom: 50px;
}






.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control-file {
    display: block;
    width: 100%;
}

.form-control-submit {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    color: #fff;
}

.form-control-submit:hover {
    background-color: #1a1919;
    border-color: #1a1919;
}