.div1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
  .div1 p {
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }
  
  .content-wrapper {
    text-align: center;
  }
  
  .intro-text {
    margin-bottom: 20px;
  }
  
  .intro-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
  }
  
  .buttons button:hover {
    background-color: #1a1919;
  }
  
  .buttons a {
    text-decoration: none;
    color: #ffffff;
  }
  