{% extends 'root.html' %}
{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <div class="container">
        <div class="content-wrapper">
          <div class="buttons">
            <button type="submit"> <a href="{% url 'register_candidate'%}">S'Inscrire en tant que candidat</a></button>
            <button type="submit"> <a href="{% url 'register_agent'%}">S'Inscrire en tant qu'agent</a></button>
            <button type="submit"> <a href="{% url 'login_candidate'%}">Se Connecter en tant que candidat</a></button>
            <button type="submit"> <a href="{% url 'login_agent'%}">Se Connecter en tant qu'agent</a></button>
          </div>
        </div>
      </div>
{% endblock %}
