 
{% extends 'root.html' %}
{% block titre %}Se Connecter{% endblock %}
{% block content %}  

 <h4> Connectez-Vous</h4>
{%for message in messages %}
 <strong>{{message}}</strong>
{% endfor %}
 <form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="Username">Username:</label>
        <input type="username" name="username" id="username" placeholder="Entrer Votre Username" required>
        <br><br>
        <label for="mot_de_passe"> Mot de Passe:</label>
        <input type="password" name="mot_de_passe" id="mot_de_passe" placeholder="Entrer Votre Mot de Passe" required>
        <br><br>
        <button type="submit">Connecter</button>
    </fieldset>
 </form>
{% endblock %}