

h1 {
    color: #333;
}

.temoignage {
    margin-bottom: 20px;
}

.temoignage h3 {
    font-size: 18px;
    color: #666;
}

.temoignage p {
    color: #999;
}

.empty-temoignages {
    color: #999;
    margin-bottom: 20px;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #1a1919;
    text-decoration: none; 
    outline: none; 
}

a,
a:hover,
a:visited,
a:focus,
a:active {
    color: white;
    text-decoration: none; 
}
